<h2>Welcome to PizzaShop!</h2>


<div class="row">

<% @products.each do |product|  %>
  <div class="col-md-3">
  	
  	<div>
  		<%= product.title %>
  	</div>
  	
  	<div>
  		<img src="<%= product.path_to_image%>"><%= product.title %>
  	</div>
  	
	<div>
  		<%= product.size %> см
  	</div>

  	<div>
  		<%= product.description %>
  	</div>
  	
  	<div>
  		<%= product.price %> руб.
  	</div>
  	
	<div>
	<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= product.id %>)">Add to cart</button>
	</div>

  </div>

<% end %>

</div>

<br />
<br />
<br />


<button class="btn btn-primary" onclick="something()">Click me!</button>



