<h2>Пицца <%= @product.title %></h2>
<p> <img src="<%= @product.path_to_image %>"> <br />
	Описание пиццы: <%= @product.description %> <br />
	Цена пиццы: <%= @product.price %><br />
	Размер пиццы: <%= @product.size %><br />
</p>